.navbar {
    position: fixed;
	background: transparent;
	transition: background .5s;
	display: flex;
	justify-content: space-between;
	height: 60px;
	width: 100%;
    top: 0;
    left: 0;
	z-index: 5;
}


// haciendo el navbar fixed